.swatch-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  
  .hex-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .hex-border {
    width: 104px;
    aspect-ratio: 1 / 1;
    background: black;
    clip-path: polygon(
      50% 0%,
      93% 25%,
      93% 75%,
      50% 100%,
      7% 75%,
      7% 25%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hexagon {
    width: 100px;
    aspect-ratio: 1 / 1;
    background: white;
    clip-path: polygon(
      50% 0%,
      93% 25%,
      93% 75%,
      50% 100%,
      7% 75%,
      7% 25%
    );
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  .hexagon:hover {
    background: #bbb;
  }

  .swatch-tile-preview {
    aspect-ratio: 1 / 1;
  }
  
  /* .label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
  }
   */